/**
 *
 * Size increase
 *
 */

@media screen and (min-width:300px){
	h1{
	  font-size: 1.8em;
	}

	.game-start{
		font-size: 1.1em;
	}

	.deck .card.flipped{
	 	font-size: 1.8em;
	}

	.footer-credits{
  	font-size: 0.75em;
	}
}

/**
 *
 * Size increase
 *
 */

@media screen and (min-width:400px){
	.deck .card.flipped{
	 	font-size: 2.25em;
	}
}

/**
 *
 * Size increase
 *
 */

@media screen and (min-width:500px){
	h1{
	  font-size: 2.8em;
	}

	.deck{
	 	padding: 1em;
	}

	.deck .card{
	 	border: 4px solid #ead5ff;
	 	box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
	}

	.deck .card.flipped{
 		border: 4px solid #92e1fc;
 		font-size: 2.5em;
	}

	.game-start{
		font-size: 1.3em;
	}

	.footer-credits{
  	font-size: 0.9em;
	}
}

/**
 *
 * Size increase
 *
 */

@media screen and (min-width:600px){
	.deck .card.flipped{
	 	font-size: 3.5em;
	}
}

/**
 *
 * Size increase
 *
 */

@media screen and (min-width:800px){
	h1{
	  font-size: 4em;
	}

	.deck .card.flipped{
	 	font-size: 5em;
	}

	.game-start{
		font-size: 1.75em;
	}

	.footer-credits{
  	font-size: 1em;
	}
}

/**
 *
 * Size increase
 *
 */

@media screen and (min-width:1000px){
	h1{
	  font-size: 6em;
	}

	.game-start{
		font-size: 1.9em;
	}

	.footer-credits{
  	font-size: 1.2em;
	}
}