/**
 *
 * Size increase
 *
 */

@media screen and (min-width:300px) {
	h1 {
	  font-size: 7.5vw;
	}

	.score-panel {
	 	font-size: 4vmin;
	}

	.game-new {
		font-size: 0.95em;
	}

	.deck .card.flipped {
	 	font-size: 1.8em;
	}

	.footer-credits {
  	font-size: 0.75em;
	}
}

/**
 *
 * Size increase
 *
 */

@media screen and (min-width:400px) {
	h1{
	  font-size: 8vw;
	}

	.score-panel {
	 	font-size: 3.5vmin;
	}

	.game-restart {
		font-size: 5vmin;
	}

	.deck .card.flipped {
	 	font-size: 2.25em;
	}
}

/**
 *
 * Size increase
 *
 */

@media screen and (min-width:500px) {
	h1{
	  font-size: 8.25vw;
	}

	.score-panel {
	 	font-size: 4vmin;
	}

	.game-restart {
		font-size: 6.5vmin;
	}

	.deck {
	 	padding: 1em;
	}

	.deck .card {
	 	border: 4px solid #ead5ff;
	 	box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
	}

	.deck .card.flipped {
 		border: 4px solid #92e1fc;
 		font-size: 2.5em;
	}

	.game-new {
		font-size: 1.15em;
	}

	.footer-credits {
  	font-size: 0.9em;
	}
}

/**
 *
 * Size increase
 *
 */

@media screen and (min-width:600px) {
	h1{
	  font-size: 7.5vw;
	}

	.score-panel {
	 	font-size: 4.5vmin;
	}

	.game-restart {
		font-size: 7vmin;
	}

	.deck .card.flipped {
	 	font-size: 3.5em;
	}
}

/**
 *
 * Size increase
 *
 */

@media screen and (min-width:800px) {
	.score-panel {
	 	font-size: 5vmin;
	}

	.game-restart {
		font-size: 8vmin;
	}

	.deck .card.flipped {
	 	font-size: 5em;
	}

	.game-new {
		font-size: 1.60em;
	}

	.footer-credits {
  	font-size: 1em;
	}
}

/**
 *
 * Size increase
 *
 */

@media screen and (min-width:1000px) {
	.game-new {
		font-size: 1.8em;
	}

	.footer-credits {
  	font-size: 1.2em;
	}
}