/*
 *
 * Sizes in this stylesheet are optimized for mini smarphones.
 * We use the file responsive.css to build up on this and
 * make the page look good on bigger devices too
 *
 */

/*
 *
 * Main
 *
 */

html{
	box-sizing: border-box;
}

*,
*::before,
*::after{
	box-sizing: inherit;
}

html,
body{
	margin: 0;
	padding: 0;
}

body{
	background: url('../img/2924643_min.jpg') no-repeat center center fixed;
  background-size: cover;
	min-width: 240px;
}

div,
.deck,
h1,
footer{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	flex-wrap: wrap;
}

@font-face{
	font-family: "Library3AM";
	src: url("../fonts/library3am.woff") format("woff");
}

h1{
  font-family:"Library3AM";
  font-size: 1.4em;
  width: 100%;
	margin: 0.5em auto 0.3em auto;
	text-transform: uppercase;
	text-shadow: -1px 0 #ab38c3, 0 1px #ab38c3, 1px 0 #ab38c3, 0 -1px #ab38c3;
  color: #ead5ff;
}

/*
 *
 * Deck
 *
 */

.deck{
	position: relative;
	width: 70vw;
	height: 70vw;
	max-width: 700px;
	max-height: 700px;
 	background: #10003e;
 	background-clip: padding-box;
 	border: 3px solid transparent;
 	border-radius: 16px;
 	padding: 2vw;
}

.deck:after{
	position: absolute;
  top: -3px; bottom: -3px;
  left: -3px; right: -3px;
  z-index: -1;
  background: linear-gradient(0.25turn, #92e1fc, #ebf8e1, #fea2fe);
	box-shadow: 0px 0px 42px 8px #92e1fc;
  border-radius: 16px;
  content: '';
}

.deck .card{
 	height: 22%;
 	width: 22%;
 	margin: auto;
 	font-size: 0;
 	border: 2px solid #ead5ff;
 	border-radius: 8px;
 	cursor: pointer;
 	display: flex;
 	justify-content: center;
 	align-items: center;
 	color: #10003e;
 	background: linear-gradient(0.25turn, #340b69, #c140d3);
}

.deck .card.open{
	position: relative;
 	transform: rotateY(0);
 	background: #ead5ff;
 	cursor: default;
 	border: 2px solid #92e1fc;
}

.deck .card.show{
 	font-size: 6vw;
 }

.deck .card.matchtrans{
	/* Somehow this animation does not work if you change the order of the transformations
   * to first scale and then rotate (?)
	 */
	transform: rotateZ(+1080deg) scale(1.2);
	transition-duration: .7s;
}

.deck .card.open.match{
 	cursor: default;
}

/*
 *
 * Score Panel
 *
 */

.score-panel{
 	text-align: left;
 	min-width : 100%;
 	margin-bottom: 10px;
}

.score-panel .restart{
 	float: right;
 	cursor: pointer;
}

/**
 *
 * Footer
 *
 */

footer{
	position: relative;
  margin: 0.8em auto 1em auto;
  padding: 0.4em 0.4em 0.4em 0.4em;
  width: 100%;
  width: 70vw;
  text-align: center;
  color: #ead5ff;
}

footer ul{
  width: 100%;
  padding: 0 0 10px 0;
  margin: 0;
}

footer li{
  display: inline;
  margin: 0 0.5em;
  text-align: center;
}

footer a{
  text-decoration: none;
  color: #fff;
}

footer a:hover{
	color: #d230cf;
}

.footer-credits{
 	width: 100%;
  font-size: 0.70em;
  padding: 0 0 10px 0;
  align-content: center;
}

.footer-credits-title{
  font-weight: 600;
}